#div1, #div2, #div3{width: 200px; height: 200px; background-color: red;}
#div1:hover {background-color: green; width: 400px;} /*hover:마우스커서 올리면 변함*/
#div2 > div {width: 100px; height: 100px; background-color: blue;}
#div2:hover div{background-color: greenyellow; width: 150px; height: 150px;}
#div3:hover + #div4 {background-color: grey; width: 150px; height: 150px;}