/* (총 width - 여백수 * 여백width) / item수 = item width
   (300 -2 * 20px) / 3 = box width size(86.666) */




#div4 {border: 2px solid; width: 300px; height: 200px;}
#div4 div {display: inline-block; width: 86.666px; height: 100px; background-color: red;
margin-right: 20px;}
/*
#div4 :nth-of-type(1) {margin-right: 7.5px;}
#div4 :nth-of-type(2) {margin-right: 7.5px;}
*/
/*
#div4 div:nth-last-child(1){
    background-color: aquamarine; margin-right: 0;}
*/    
#div4 div:nth-child(3n){margin-right: 0;}/*3의배수로 마진을 준다*/


#span {background-color: hotpink; width: 200px; margin: auto;
text-align: right; display: block;}

#div2 {width: 100px; height: 100px; background-color: red; margin: auto;}
#div3 {width: 200px; height: 200px; background-color: green;}
#div3 > div {margin: auto; width: 50px; height: 50px; background-color: goldenrod;}

#div1 {background-color: aqua; width: 300px; height: 300px;
border: 15px solid navy;
/*margin: 20px 0 0 20px;} /*상하좌우 공백*/
margin: 25px 100px;
margin-top: 100px;
padding-top: 100px;
} 