#div1 {width: 1200px; height: 1200px; background-image: url("사진.jpg"); 
border: 1px solid;
background-repeat: no-repeat; 
background-size: 1200px 1200px; /*가로, 세로*/ 
background-position: 300px 200px; /*위, 왼*/
/*background: url("이미지") no-repeat 200px 200px / 100px 100px; = 한번에 코드를 줄수도 있음*/
}

#div1:hover{background-image: url("다운로드.jpg"); color: red;}
#div1 div{width: 50px; height: 50px;}
