*{margin: 0; padding: 0; box-sizing: border-box;}

.title {/*background-color: bisque;*/
text-align: center;
letter-spacing: 5px; /*글자간격*/
font-size: 25px;
border-bottom: 3px dotted olive;/*dotted:점선*/
width: 220px;
margin: auto; /*중간지점으로*/
padding: 10px 0;
color: blueviolet;}

#login {width: 300px; height: 200px;
box-shadow: 0 0 8px lawngreen;
border-radius: 10px; margin: 100px auto;
display: none;}

#login > form {/*background-color: blue;*/
width: 270px; margin: auto;}

#login form input{color: gray; font-size: 20px; margin-top: 30px;
border: none; outline: none; border-bottom: 2px solid lawngreen;
letter-spacing: 3px; width: 100%;
&:focus {border-bottom: 2px solid darkorange;}}/*focus:입력란클릭시 변함*/

#login form button {margin-top: 20px; width: 100%; height: 30px;
border: none; border-radius: 5px;
font-size: 15px; font-weight: bold;
cursor: pointer; /*background-color: lightgrey;*/ /*cussor:pointer=커서대면 변함*/
&:hover{background-color: aqua;
box-shadow: 0 0 10px black;}}

#div1 {width: 100px; height: 100px; background-color: gray; color: wheat;
font-size: 20px; text-shadow: -5px 5px 0px black;
box-shadow: 5px 5px 10px red;}

#div1:active {color: blue; background-color: aquamarine;}/*active:클릭시 변함*/
img {width: 100px; height: 100px;}
img:hover {box-shadow: 0 0 10px black;}