#modal {position: absolute; background-color: rgba(0, 0, 0, 0.1);
top: 0; left: 0;}
a {position: absolute; z-index: 10; &:hover ~#login{display: block;}}

#static2, #relative2, #absolute2, #fixed2 {width: 100px; height: 100px;}

#static2 {background-color: rosybrown; z-index: 1;} /*z-index 1~:우선순위 결정"*/

#relative2 {background-color: rebeccapurple; position: relative; top: 50px; left: 25px; z-index: 2;}

#absolute2 {background-color: firebrick; position: absolute; top: 50px; left: 50px; z-index: 1;}

#fixed2 {background-color: forestgreen; position: fixed; top: 75px; left: 75px; z-index: 3;}

/*--------------------------------------------------------------------------------------*/
#wrap {width: 300px; height: 800px; background-color: green;
margin: 300px auto;}

#wrap div {width: 100px; height: 100px;}

#wrap div div {width: 50px; height: 50px; background-color: brown;}

#relative {background-color: red;
top : 300px; left: 50px; position: relative;
& div {top: 10px; left: 10px; position: inherit;}} /*relative: wrap 안에서 이미지 움직임*/

#absolute {background-color: rosybrown;
top : 300px; right: 50px; position: absolute;
& div {top: 10px; left: 10px; position: relative;}} /*absolute: 유동적으로 움직임*/

#fixed {background-color: rebeccapurple;
top : 300px; left: 50px; position: fixed;
& div {top: 10px; left: 10px; position: absolute;}} /*fixed: 고정위치*/