#wrap {background-color: aquamarine; width: 400px; margin: auto;}

#wrap > :nth-of-type(1) {background-color: brown;}
#wrap > :nth-of-type(2) {background-color: burlywood; height: 100px;
    display: flex;
& > :nth-of-type(1) {width: 30%; background-color: antiquewhite;}
& > :nth-of-type(2) {width: 70%; background-color: blueviolet;}
}
#wrap > :nth-of-type(3) {background-color: lightcoral;}