#div1 {width: 1200px; height: 500px; border: 1px solid; margin: auto;}
#div1 div {width: 216px; height: 216px; background-color: aqua; display: inline-block;
    background-size: cover; /*이미지가 알맞게 나옴*/
    margin-right: 30px;
    &:nth-last-of-type(1){margin-right: 0;}
&:hover > span{
   color: gold; opacity: 0.8;
   transition: all 1s;
   background-color: blueviolet;
}}

#div1 div:nth-of-type(1){background-image: url("다운로드.jpg");}
#div1 div:nth-of-type(2){background-image: url("다운로드.jpg");}
#div1 div:nth-of-type(3){background-image: url("다운로드.jpg");}
#div1 div:nth-of-type(4){background-image: url("다운로드.jpg");}
#div1 div:nth-of-type(5){background-image: url("다운로드.jpg");}

#div1 span{margin: auto;
display: block; width: 100px; margin-top: 100px; 
font-size: 30px; text-align: center;
border: 5px solid black; border-radius: 10px; color: brown;
opacity: 0.1;} /*투명도*/


















/* #div1 {border: 2px solid; width: 240px; height: 240px; background-image: url("사진.jpg"); display: flex;
justify-content: center; align-items: center; }
#div1 div{border: 5px solid black; border-radius: 10px; width: 50px; height: 50px; display: inline-block; 
text-align: center;}
#div1:hover{background-image: url("사진.jpg"); color: white; background-color: greenyellow;} */
