#wrap {width: 500px;}
#logo {width: 100px; height: 100px; border-radius: 100px; overflow: hidden;}
#logo > img {width: 100px; height: 100px; transition: all 0.3;
&:hover{
    transform: scale(1.5);
}}
.item {
    width: 100px; height: 200px; border: 2px solid gray;
    border-radius: 10px; overflow: hidden;
}
.item div:nth-of-type(1){
    width: 100px; height: 100px;
    overflow: hidden;
}
.item img {width: 100PX; height: 100px;
&:hover{
    transform: scale(1.5);
    transition: all 0.3;
}}
.item :nth-of-type(2){
    height: 70px; background-color: antiquewhite;
}
.item :nth-of-type(2) > a {
    color: black;
    text-decoration: none;
    &:hover{
        color: red;
    }
}
.item :nth-of-type(3) {
    
    text-align: right; color: blue;
}
#logo ~ button {
    background-color: gray;
    border-radius: 20px;
    color: white; 
    border: none;
    &:hover{
        background-color: blueviolet;
    }
}


/* #wrap {border: 3px solid #000; width: 100px; padding: 15px; margin: 10px;}
#logo {border: 1px solid black; border-radius: 50%; overflow: hidden; width: 100px; height: 100px;} 
/*
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.item {width: 100px; height: 200px; border: 1px solid gray;
border-radius: 5px;}
.item div{overflow: hidden;}
img {width: 100px; height: 100px; border-radius: 5px;
     &:hover{
    transform: scale(1.1);
}}
a {color: black; text-decoration: none;}
.item > div:nth-child(4){color: blue; text-align: right;}
button {border: none ;border-radius: 25px; background-color: gray; color: aliceblue;}*/